<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet CIEL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='commandes.css') }}">
    <link rel="stylesheet" href="../static/commandes.css">
</head>
<body>
    <div class="top-nav">
        <h1 id="main-window-title">{{ title }}</h1>

        <nav class="navigation_pages_button">
            <ul>
                <li><a href="{{ url_for('infos') }}">Infos</a></li>
                <li><a href="{{ url_for('commandes') }}">Commandes</a></li>
            </ul>
        </nav>
    </div>

    <section class="bottom-main-window">
            <div class="main-informations-selected-window-container">
                <div class="main-informations-selected-window-content">
                   <div class="bottom-hight-views">
                        <div class="espace-camera">
                            <h2>Camera</h2>
                        </div>
                        <div class="commande-main-view-window">
                            <h2>Commandes</h2>
                        </div>
                   </div>
                    
                    <div class="bottom-panel-content">
                        <div class="button-on-off-main-window">
                            <input type="button" value="ON">
                            <input type="button" value="OFF">
                        </div>
                        <div class="selected-object-low-view">
                            <span>Selected Object :</span>
                            <div class="selected-object-low-view-informations">
                                <span>Name : obj</span>
                                <span>Azimuth : az</span>
                                <span>Altitude : alt</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            


    </section>

</body>
</html>